obj
iso
.bmake
*.bin
beaveros.iso
beaveros.tar.bz2
# init script for gdb
.gdbinit
# YouCompleteMe
.ycm*
# Logs, I guess
*.log
# Emacs swap and indent backup
*~
*#*
# Mac OS' Finder magic stuff
.DS_Store
# Vim swap
*.swp
